<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <meta name="title" content="Sitename"/>
    <meta name="Generator" content="Drupal 8 (https://www.drupal.org)"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>Home | Sitename</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Drupal files, need only for slice -->
    <script type="application/json" data-drupal-selector="drupal-settings-json">
        {
            "path": {
                "baseUrl": "/",
                "scriptPath": null,
                "pathPrefix": "",
                "currentPath": "",
                "currentPathIsAdmin": false,
                "isFront": true,
                "currentLanguage": "en"
            },
            "pluralDelimiter": "\u0003",
            "ajaxPageState": {
                "libraries": "",
                "theme": "common",
                "theme_token": null
            },
            "ajaxTrustedUrl": {},
            "views": {
                "ajax_path": "/views/ajax",
                "ajaxViews": {}
            },
            "user": {
                "uid": 0
            }
        }

    </script>


</head>
<body>
<div class="page">
    <header>

      {{ page.header }}


    </header>

    <main class="main-container">
        <div class="layout">
            <div class="layout__main">
                <div class="bg-dark col-12">
                    <div class="container bg-dark">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 align-items-center">
                                <li class="breadcrumb-item">
                                    <a href="/">
                                        {{ drupal_entity('block', 'breadcrumb_image') }}
                                    </a>
                                </li>
                                {{ drupal_block('system_breadcrumb_block') }}
                            </ol>
                        </nav>
                    </div>
                </div>

                {{ page.content }}

            </div>
        </div>
    </main>

    <footer class="mt-auto footer-dark text-light bg-secondary footer">
        {{ page.footer }}
        {{ drupal_entity('block', 'products_pager') }}
    </footer>
</div>
</body>
</html>
