{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% for item in items %}
        {% if item.is_expanded %}
            <ul class="nav navbar-nav flex-column col-sm-4">
                <li class="nav-item expanded-nav">
                    <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
                </li>
                {% for sub_item in item.below %}
                    <li class="nav-item">
                        <a href="{{ sub_item.url }}" class="nav-link">{{ sub_item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <ul class="nav navbar-nav flex-column col-sm-4">
                <li class="nav-item expanded-nav">
                    <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
                </li>
            </ul>
        {% endif %}
    {% endfor %}
{% endmacro %}


